@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

@media (max-width: 640px) {
        * {box-sizing : border-box ;
	}
}
img {
	height: auto;
    max-width: 100%;
	}

body {
    width: auto;
    margin: 0;
    padding: 0;
    font-family: 'Exo', sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

*{
    margin: 0px;
    padding: 0px;
}

.loadercontainer {
    background-color: #160C28;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
}

.loadercontainer.hidden{
    display: none;
}

.loader {
    width: 48px;
    height: 48px;
    margin: auto;
    position: relative;
  }

.loadingtexte {
    position: relative;
    text-align: center;
    top: 240px;
    color: #EFCB68;

}
  
.loader:before {
    content: '';
    width: 48px;
    height: 5px;
    background: #f0808050;
    position: absolute;
    top: 310px;
    left: 0;
    border-radius: 50%;
    animation: shadow324 0.5s linear infinite;
}
  
.loader:after {
    content: '';
    width: 100%;
    height: 100%;
    background: #EFCB68;
    position: absolute;
    top: 250px;
    left: 0;
    border-radius: 4px;
    animation: jump7456 0.5s linear infinite;
}
  
  @keyframes jump7456 {
    15% {
      border-bottom-right-radius: 3px;
    }
  
    25% {
      transform: translateY(9px) rotate(22.5deg);
    }
  
    50% {
      transform: translateY(18px) scale(1, .9) rotate(45deg);
      border-bottom-right-radius: 40px;
    }
  
    75% {
      transform: translateY(9px) rotate(67.5deg);
    }
  
    100% {
      transform: translateY(0) rotate(90deg);
    }
  }
  
  @keyframes shadow324 {
  
    0%,
      100% {
      transform: scale(1, 1);
    }
  
    50% {
      transform: scale(1.2, 1);
    }
  }

.context {
    width: 100%;
    position: absolute;
    top:20vh;
    font-family: 'Exo', sans-serif;
    text-align: center;
    color: wheat;
    margin-top: 125px; 
    
}

.context h1{
    text-align: center;
    color: #E1EFE6;
    font-size: 60px;
    font-family: 'Exo', sans-serif;
}

@media screen and (min-width: 768px) {
    .context h1 {
        font-size: 100px;
        color: #E1EFE6;
    }
}

.area{
    background: #160C28;  
    width: 100%;
    height: 100%;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    animation: animate 25s linear infinite;
    bottom: -150px;
    background :  #EFCB68;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

.presentation {
    background: #160C28;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    text-align: center;
    }
    
    .positiontexte {
        position: relative;
        display: grid;
        top: 8%;
        text-align: left;
        margin: 0 auto;
        justify-content: center;
    }
    
    
    .positiontexte h2 {
    width: 100%;
    color: #E1EFE6;
    position: relative;
    font-size: 45px;
    margin-left: 10px;
    }
    
    .presentation p {
    color: #E1EFE6;
    position: relative;
    margin-top: 5%;
    font-size: 22px;
    margin-left: 10px;
    margin-right: 10px;
    }

    @media screen and (max-width: 768px) {
        .presentation p {
            font-size: 18px;
        }

    }

    @media only screen and (max-width: 767px) {
    .presentation p {
        font-size: 20px;
    }
    }

    
    .presentation p1 {
    color: #E1EFE6;
    position: relative;
    font-size: 110%;
    }
    
    .presentation p2 {
    color: #E1EFE6;
    position: relative;
    font-size: 110%;
    }
    
    .lienia {
    color: #EFCB68;
    text-decoration: none;
    }
    
    .lieniia {
    background: linear-gradient(#EFCB68 0%,#160C28 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    }
    
    .arrowimage {
    margin: 0 auto;
    position: sticky;
    width: 10%;
    height: 8%;
    margin-top: 2%;
    }
    
    .bouttoncv {
    margin: 0 auto;
    color: rgb(0, 0, 0);
    background: #EFCB68;
    height: 8.3vh;
    width: 70%;
    max-width: 24.2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 10px;
    text-transform: uppercase;
    transition: .4s linear;
    position: relative;
    border: 1px solid black;
    font-family: 'Exo', sans-serif;
    margin-top: 5%;
    }
    
    @media screen and (min-width: 768px) {
    .bouttoncv {
    margin-left: 13%;
    }
    }

    @media only screen and (max-width: 767px) {
        .presentationbts {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    
        .consistebts {
            text-align: center;
            margin-left: 0;
            margin-right: 0;
        }
    
        .bloctextebts {
            text-align: center;
            margin-left: 0;
            margin-right: 0;
        }
    }
    
    .presentationbts {
        position: relative;
        width: 100%;
        height: 100%;
        background: #000411;
    }
    
    .rectanglejaune {
        position: absolute;
        height: 30%;
        right: 13%;
        top: 5%;
        -webkit-animation: spin 1s linear infinite;
        animation: spin 30s linear infinite;
    }
    
    .rectanglejaune1 {
        position: absolute;
        height: 10%;
        left: 10%;
        top: 43%;
        -webkit-animation: spin 1s linear infinite;
        animation: spin 30s linear infinite;
    }
    
    .rectanglejaune2 {
        position: absolute;
        height: 10%;
        left: 75%;
        top: 75%;
        -webkit-animation: spin 1s linear infinite;
        animation: spin 30s linear infinite;
        transition: animation 0.5s;
    }
    
    .rectanglejaune2:hover {
        -webkit-animation: spin 1s linear infinite;
        animation: spin 1s linear infinite;
    }
    
    .consistebts {
        color: #ffffff;
        position: relative;
        font-size: 24px;
        text-align: left;   
    }
    
    .lieniia {
        color: #ffffff;
        text-decoration: underline;
    }
    
    .bloctextebts {
        position: relative;
        display: grid;
        top: 8%;
        text-align: left;
        margin: 0 auto;
        justify-content: center;
    }
    
    .bloctextebts p {
        color: #ffffff;
        margin-top: 10px;
    }
    
    @-webkit-keyframes spin {
        100%{-webkit-transform: rotate(360deg);}
    }
    
    @media only screen and (min-width: 768px) {
        .presentationbts {
            height: 100vh;
        }
        
        .rectanglejaune {
            height: 30%;
        }
        
        .rectanglejaune1 {
            height: 15%;
        }
        
        .rectanglejaune2 {
            height: 10%;
        }
        
        .consistebts {
            font-size: 48px;
            margin-bottom: 10%;
            top: 10%;
        }
        
        .bloctextebts {
            font-size: 25px;
        }
    }
    
    @media only screen and (max-width: 767px) {
        .presentationbts {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    
    .consistebts {
            text-align : center;
            margin-left: 0;
            margin-right: 0;font-size: 250%;
            }

    .bloctextebts {
        text-align: left;
        margin-left: 10px;
        margin-right: 10px;
        position: relative;
        font-size: 21px;
        }
    }


    .optionsisr {
        position: relative;
        width: 100%;
        height: 100%;
        background: #EFCB68;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .imagesisr {
        height: 96%;
        width: 60%;
        position: relative;
        float: right;
        display: block;
        margin-bottom: 25px;
    }

    .titreoption {
        position: relative;
        color: #160C28;
        font-size: 285%;
        text-shadow: 1px 1px 1px;
        text-align: center;
        margin-top: 95px;
    }

    .texteoption h5 {
        position: relative;
        text-align: center;
        font-size: 80%;
        font-weight: bold;
        margin-bottom: 75px;
    }

    .optionaccess {
        position: relative;
        font-size: 125%;
        text-align: left;
        margin-bottom: 75px;
        margin-left: 8%;
    }

    p.metieraccess {
        position: relative;
        font-size: 125%;
        text-align: left;
        margin-left: 5%;
    }

    .rond {
        height: 2%;
        width: 2%;
    }

@media only screen and (max-width: 767px) {
        .imagesisr {
            display: none;
        }
}

@media only screen and (min-width: 768px) {
        .titreoption {
            font-size: 320%;
            margin-left: 55px;
            margin-top: 95px;
            top: 5%;
        }
        .metieraccess {
            width: 70%;
            text-align: left;
        }
        .texteoption h5 {
            width: 30%;
            margin-left: 12.5%;
            text-align: left;
        }
        .optionaccess {
            width: 45%;
            left: 4.5%;
        }
        p.metieraccess {
            left: 11%;
            position: relative;
            font-size: 125%;
            text-align: left;
            right: 2%;
            width: 45%;
        }
    }

@media only screen and (min-width: 768px) {
    .titreoption {
        top: 1%;
    }
    .metieraccess {
        width: 5%;
    }
}

.blocksisr {
    width: 100%;
    border-style: solid;
    border-width: 25% ;

}

.liensisr{
    color: #EFCB68;
    text-decoration: none;
}

.optionslam {
    position: relative;
    height: 100%;
    width: 100%;
    background: #160C28;
    display: flex;
    flex-direction: row;
}

.imageslam {
    position: relative;
    height: 80%;
    width: 50%;
    top: 12%;
    display: block;
}

.titreslam {
    position: relative;
    background: #160C28;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #E1EFE6;
}

.titreslamoption {
    font-size: 285%;
    margin-top: 145px;
    text-shadow: 1px 1px 1px;
}

.soustitreslamoption {
    font-size: 80%;
    margin-bottom: 95px;
}

.metierslam {
    font-size: 125%;
    text-align: left;
    margin-bottom: 95px;
    margin-left: 10px;
}

.listeslam {
    position: relative;
    font-size: 125%;
    text-align: left;
    right: 2%;
    width: 45%;
}

@media screen and (max-width: 767px) {
    .imageslam {
        display: none;
    }

    .metierslam  { 
        font-size: 125%;
        text-align: left;
        margin-bottom: 95px;
        margin-left: 20px;
    }

    .titreslam {
        width: 100%;
        height: auto;
        text-align: center;
    }
    .listeslam {
        position: relative;
        font-size: 125%;
        text-align: left;
        width: 95%;
        margin-left: 5%;
    }
}

.competencesdev {
    height: 110%;
    width: 100%;
    background: #160C28;
    margin-bottom: 250px;
    overflow: hidden; /* Ajoutez cette ligne pour empêcher les cartes de déborder */
}

.iconecompetencessisr {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 9%;
}

.iconecompetencesdev {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 25% ;
}

.competencesicones {
    position: relative;
    text-align: center;
    font-size: 285%;
    color: #E1EFE6;
    top:5% ;
}

.iconescard {
    width: 95%;
    height: 40%;
    position: relative;
    display: flex;
    left: 2.5%;
    top: 22%;
    box-sizing: border-box; /* Ajoutez cette ligne pour inclure la marge et le padding dans la largeur totale */
}

.allcard {
    width: auto;
    height: auto;
}

.competencesiconesres {
    position: relative;
    font-size: 285%;
    color: #E1EFE6;
    top: 15%;
    text-align: center;

}

@media only screen and (max-width: 767px) {
    .competencesiconesres {
        position: relative;
        text-align: center;
        font-size: 285%;
        top: 5%;
    }  
}

@media only screen and (max-width: 767px) {
    .iconescard {
        display: grid;
        grid-template-columns: 230px 230px; /* Changez la valeur en '1fr 1fr' pour qu'elle s'adapte à la largeur de l'écran */
        top: 5%;
        gap: 10px; /* Ajoutez un espacement entre les cartes */
    }

    .flip-card {
        width: 45%; /* Changez la largeur à 100% pour s'adapter à la largeur de l'écran */
        margin: 10px ; /* Ajustez la marge pour avoir de l'espace entre les cartes */
    }

    /* Ajoutez ce code pour ajuster la taille des images dans les cartes */
    .flip-card .flip-card-front img, .flip-card .flip-card-back img {
        position: relative;
        width: 100px;
        height: 100px;
    }
}


.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin-right: 20px; /* espace entre les cards */
}
  
  /* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card-inner.flipped {
    transform: rotateY(180deg);
}
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
  /* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
  
  /* Style the front side (fallback if image is missing) */
.flip-card-front {
    color: black;
}
  
  /* Style the back side */
.flip-card-back {
    color: white;
    transform: rotateY(180deg);
}

.competencesreseau {
    height: 110%;
    width: 100%;
    background: #160C28;
  }
  
  .iconescardres {
    width: 95%;
    height: 40%;
    position: relative;
    display: flex;
    left: 2.5%;
    top: 30%;
    box-sizing: border-box;
  }
  
  .flip-cardres {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px;
    margin-right: 20px; /* espace entre les cards */
  }
  
  /* Style pour les écrans étroits (téléphones) */
  @media only screen and (max-width: 767px) {
    .iconescardres {
      display: grid;
      grid-template-columns: 230px 230px;
      top: 5%;
      margin: 10px;
    }
  
    .flip-cardres {
      width: 45%; /* adapte la taille des cards à l'écran */
      margin: 10px; /* espace entre les cards */
    }

    
  }

.flip-card-innerres {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-cardres:hover .flip-card-innerres {
    transform: rotateY(180deg);
}
  
  /* Position the front and back side */
.flip-card-frontres, .flip-card-backres {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
  
  /* Style the front side (fallback if image is missing) */
.flip-card-frontres {
    color: black;
}
  
  /* Style the back side */
.flip-card-backres {
    color: white;
    transform: rotateY(180deg);
}

/* Style pour la classe blockformation */
.blockformation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px 20px 20px;
  gap: 25px;
}

/* Style pour la classe pageentreprise */
.pageentreprise {
  background: linear-gradient(to bottom left, #160C28, #fff);
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

/* Style pour la classe pageentreprise au survol */
.pageentreprise:hover {
  transform: translateY(-10px);
}

/* Style pour la classe pageecole */
.pageecole {
background: linear-gradient(to bottom right, #EFCB68, #fff);
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.competencesecole {
    color: #160C28;
}


/* Style pour la classe pageecole au survol */
.pageecole:hover {
  transform: translateY(-20px);
}

/* Style pour le titre entreprise */
.titreentreprise {
  font-size: 1.5em;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  color: #160C28;
}

/* Style pour le titre école */
.titreecole {
  font-size: 1.5em;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  color: #444;
}

/* Style pour les liens */
.lienalternance, .lienecole {
  display: inline-block;
  padding: 10px 15px;
  background-color: #EFCB68;
  color: white;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  opacity: 1;
  margin-top: 20px;
}

/* Style pour les liens au survol */
.lienalternance:hover, .lienecole:hover {
  background-color: #160C28;
  opacity: 0.8;
}

  .blockimages {
    display: flex;
    align-items: center; /* aligne les images et le texte */
    justify-content: center;
    margin-top: 50px;
  }
  
  .imageABM {
    width: 40%;
    margin-right: 10px;
    vertical-align: middle; /* aligne l'image avec le texte */
    transition: border 0.2s ease-in-out;
  }
  
  .imageABM1 {
    width: 40%;
    margin-left: 10px;
    vertical-align: middle; /* aligne l'image avec le texte */
    transition: border 0.2s ease-in-out;
  }
  
  .imageABM:hover, .imageABM1:hover {
    border: 3px solid #EFCB68;
  }
  
  

.sectionveille {
    background-color: white;
    color: #333;
    padding:  300px 50px 100px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}
    
.blockveille {
    flex: 1;
    margin: 10px;
    padding: 20px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
    
.titreveille {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}
    
.titreveille img {
    height: 50px;
    margin-left: 10px;
}
    
.sousveille {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
    
.sujetveille {
    font-size: 18px;
    line-height: 1.5;
}
    
    
.blockveilletrois {
    position: relative;
    width: 370px;
    text-align: center;
    padding: 10px 20px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
}



.sousveilletrois {
    position: relative;
    font-size: 140%;
    text-align: center;
}

.sujetveilletrois {
    position: relative;
    top: 2% ;
}

.themes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 50px;
}
  
  .theme {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  .theme h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .theme p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  .theme a {
    display: inline-block;
    background-color: #EFCB68;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
  }
  
  .theme a:hover {
    background-color: #666;
  }
  
  .theme {
    position: relative;
    width: 30%;
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #EFCB68;
    border-radius: 15px;
    margin-left: 5px;
    transition: transform 0.3s ease-in-out;
  }
  
  .theme:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .theme::before {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 100%);
    transform: skewY(-15deg);
    transition: top 0.3s ease-in-out;
    z-index: 0;
  }
  
  .theme:hover::before {
    top: 100%;
  }
  
  .theme:hover {
    transform: scale(0.90);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .theme::before {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 100%);
    transform: skewY(-15deg);
    transition: top 0.3s ease-in-out;
    z-index: 1;
  }
  
  .theme:hover::before {
    top: 100%;
  }

  @media (max-width: 767px) {
    .themes {
        flex-direction: column;
        margin-top: 20px;
    }
    .theme {
        width: 100%;
        height: auto;
    }
}



footer {
    background-color: #160C28;
    padding: 30px 0;
    margin-top: 15%;
    text-align : center;
 }

.col-md-6 {
    color: #f8fbf9;
}

.list-unstyled {
    text-decoration: none;
}

 
footer form {
    margin-top: 20px;
 }
 
footer input{
    border: none;
    background-color: #eee;
    padding: 10px;
    margin-bottom: 10px;
    width: 25%;
    box-sizing: border-box;
}

footer textarea {
    border: none;
    background-color: #eee;
    padding: 10px;
    margin-bottom: 10px;
    width: 25%;
    box-sizing: border-box;
 }
 
 footer input:focus,footer textarea:focus {
    outline: none;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
 }
 
 footer button {
    margin-top: 10px;
    width: 100px;
 }
 
 footer .alert {
    display: none;
 }
 
 .footer-animation {
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
 }
 
 @keyframes fadein {
    from {
       opacity: 0;
    }
    to {
       opacity: 1;
    }
 }
 
 @-moz-keyframes fadein { /* Firefox */
    from {
       opacity: 0;
    }
    to {
       opacity: 1;
    }
 }
 
 @-webkit-keyframes fadein { /* Safari and Chrome */
    from {
       opacity: 0;
    }
    to {
       opacity: 1;
    }
 }
 
 @-o-keyframes fadein { /* Opera */
    from {
       opacity: 0;
    }
    to {
       opacity: 1;
    }
 }
 
 .btn {
    padding: 1.1em 1em;
    background: none;
    border: 2px solid #fff;
    font-size: 15px;
    color: #131313;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 12px;
    background-color: #ecd448;
    font-weight: bolder;
    box-shadow: 0 2px 0 2px #000;
    text-align: center;
   }
   
   .btn:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: #160C28;
    top: 50%;
    transform: skewX(30deg) translate(-150%, -50%);
    transition: all 0.5s;
   }
   
   .btn:hover {
    background-color: #E1EFE6;
    color: #fff;
    box-shadow: 0 2px 0 2px #0d3b66;
   }
   
   .btn:hover::before {
    transform: skewX(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
   }
   
   .btn:active {
    transform: scale(0.9);
   }