@import url('https://fonts.googleapis.com/css?family=Exo:400,700');


body {
    margin: 0 auto;
    font-family: 'Exo', sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

@media (max-width: 640px) {
    * {box-sizing : border-box ;
}
}
img {
height: auto;
max-width: 100%;
}

form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 400px;
  /* Form outline */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input, 
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
}

input:focus, 
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: .5em;
}

#retour {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  text-decoration: none;
}

.presentationentreprise {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffffff;
    padding: 75px;
  }
  
  .titreentreprise {
    font-size: 48px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .ensembletexte {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }
  
  .texteentreprise {
    font-size: 20px;
    line-height: 1.5;
    color: #333;
    text-align: justify;
    margin-right: 50px;
    flex: 1;
  }
  
  .texteequipe {
    font-size: 20px;
    line-height: 1.5;
    color: #333;
    text-align: justify;
    flex: 1;
  }

  .section h2 {
    text-align: center;
    margin-top: 150px;
    font-size: 35px;
    margin-bottom: 150px;
  }
  
  .containerprep {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* styles pour les colonnes */
  .column {
    display: inline-block;
    width: 25%;
    margin-left: 6%;
    vertical-align: top;
    text-align: center;
  }
  
  .column:last-child {
    margin-right: 0;
  }
  
  .column img {
    height: auto;
    margin-bottom: 10px;
  }
  
  .column h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
  }
  
  .column p {
    margin: 0;
  }
  
  /* styles pour les titres */
  .main-title {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .section-title {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
.sectionlogiciel {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 150px;
}

.titrelogiciel {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 25%;
}

.blocklogiciel {
    position: relative;
    float: left;
    display: flex;
    width: 90%;
    top: 50%;
    left: 5%;
}

.texteleo {
    position: relative;
    width: 100%;
    text-align: center;
    border: 3px inset #BE152C;
    border-radius: 10px;
    margin-right: 3%;

}

.imageleo {
    position: relative;
    width: 60%;
    height: 70%;
    bottom: 10%;
}

.imageinnoshop {
    position: relative;
    width: 60%;
    height: 70%;    
}

.texteinnoshop {
    position: relative;
    width: 100%;
    text-align: center;
    border: 3px inset #BE152C;
    border-radius: 10px;
    margin-right: 3%;
}

.sectionalternance {
  margin: 250px;
}

.titrealternance {
  text-align: center;
  font-size: 32px;
  margin-bottom: 50px;
}

.soustextealternance {
  display: flex;
  align-items: center ;
  font-size: 32px;
  justify-content: center;
  padding: 40px ;
  border-radius: 10px;
  border: #BE152C 5px solid;
  margin-bottom: 50px;
}

.procedecaisse {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.containerprep {
  text-align: center;
  margin-bottom: 50px;
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.grid-item {
  margin: 0 1rem;
  text-align: center;
}

.icon {
  width: 80px;
  height: 80px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

body {
  align-items: center;
  justify-content: center;
  font-family: 'Exo', sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

ul {
  margin-left: 2rem;
}

ul li,
a {
  font-size: 1.2em;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;
  
}

#presentation-area {
  width: 1000px;
  height: 500px;
  position: relative;
  background: purple;
}

/* Styling all three sections */
#presentation-area .presentation {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #ffffff;
  position: relative;
}

#presentation-area .counter {
  position: absolute;
  bottom: -30px;
  left: 0;
  color: #b6b6b6;
}

#presentation-area .navigation {
  position: absolute;
  bottom: -45px;
  right: 0;
}

/* On full screen mode */
#presentation-area.full-screen {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#presentation-area.full-screen .counter {
  bottom: 15px;
  left: 15px;
}

#presentation-area.full-screen .navigation {
  bottom: 15px;
  right: 15px;
}

#presentation-area.full-screen .navigation .btn:hover {
  background: #201e1e;
  color: #ffffff;
}

#presentation-area.full-screen .navigation .btn-screen:hover {
  background: #201e1e;
}
/* End full screen mode */

/* Buttons */
.navigation button {
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  margin-left: 0.5rem;
  font-size: 1.5rem;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}

.navigation .btn {
  background: #464646;
  color: #ffffff;
  border-radius: 0.25rem;
  opacity: 0;
  transform: scale(0);
}

.navigation .btn.show {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}

.navigation .btn-screen {
  background: transparent;
  color: #b6b6b6;
  visibility: hidden;
}

.btn-screen.show {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}

.btn-screen.hover {
  color: #ffffff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}
/* End Buttons */

/* content */
.presentation .content {
  padding: 2em;
  width: 100%;
  height: calc(100% - 100px);
  z-index: 11;
}

.presentation .content.grid {
  display: grid;
}

.presentation .content.grid.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content .title {
  font-size: 2em;
  color: #212121;
}

.content .sub-title {
  font-size: 2.5em;
  color: purple;
}

.content p {
  font-size: 1.25em;
  margin-bottom: 1rem;
}
/* End Content Stylesheet */

/* Slide */
.presentation .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  opacity: 0;
  transform: scale(0);
  visibility: none;
}

.slide.show {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}

.slide .heading {
  padding: 2rem;
  background: #BE152C;
  font-size: 2em;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.containeralternance {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  box-sizing: border-box;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 5%;
}

#block, #block2 {
  flex: 1;
  background-color: #f0f0f0;
  border-radius: 15px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Styles pour la boîte modale */
#boite-modale, #boite-modale2 {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}


#contenu, #contenu2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 1500px;
  height: 80vh;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Styles pour le bouton */
#btn-ouvrir, #btn-ouvrir2 {
  background-color: #BE152C;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Exo', sans-serif;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  
}

#btn-ouvrir:hover, #btn-ouvrir2:hover {
  background-color: #0069d9;
}

/* Styles pour le bouton Fermer */
#btn-fermer, #btn-fermer2 {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Exo', sans-serif;
}

#btn-fermer:hover, #btn-fermer2:hover {
  background-color: #0069d9;
}

  .rond {
    color: #BE152C;
  }